/* Estilos básicos para la página */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #f4f4f4;
}

/* Estilo para el encabezado */
header {
  background-color: #0073e6;
  color: #fff;
  padding: 20px;
  text-align: center;
}

header h1 {
  font-size: 2em;
}

header p {
  font-size: 1.2em;
}

/* Estilo para el contenido principal */
main {
  padding: 20px;
}

section {
  margin-bottom: 20px;
}

section h2 {
  color: #0073e6;
  font-size: 1.5em;
  margin-bottom: 10px;
}

/* Estilo para el pie de página */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}
